body {
    background-image: url("https://www.xmple.com/wallpaper/yellow-gradient-highlight-linear-1920x1080-c2-ffffe0-f0e68c-l-33-a-150-f-21.svg");
    background-size: 100%;
    background-repeat: no-repeat; 
}

.wishing {
    font-size: 25px;
    color: #ff1e00;
}

h2 {
    text-align: center;
    font-size: 50px;
    color: #2c2c2c;
    /* background-color: #d5d5d5; */
    letter-spacing: .05em;
    text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
    height: 100px;
    padding-top: 40px;
    margin-bottom: 60px;
  }

.apricot-blossom {
    position: fixed;
    width: 23%;
    /* height: 50%; */
    top: 0%;
    right: 0%;
    z-index: 4;
}

.peach-blossom {
    position: fixed;
    width: 27%;
    /* height: 50%; */
    top: 0%;
    left: 0%;
    z-index: 4;
}

.contain-tree-flower {
    /* opacity: 0; */
}

.petal {
    position: fixed;
    width: 2%;
}
.petal_1 {
    left: 14%;
    bottom: 3%;
}
.petal_2 {
    left: 3%;
    bottom: 1%;
}
.petal_3 {
    left: 20%;
    top: 40%;
}
.petal_4 {
    left: 25%;
    bottom: 0%;
}
.petal_5 {
    left: 8%;
    top: 48%;
}
.petal_6 {
    left: 15%;
    top: 50%;
}
.petal_7 {
    left: 3%;
    top: 55%;
}
.petal_8 {
    left: 25%;
    top: 52%;
}

.firework {
    position: fixed;
    width: 8%;
    top: 32.5%;
    right: 10%;
}

.lion_dance {
    position: fixed;
    width: 12%;
    bottom: 0%;
    left: 44%;
}

.contain-tree-flower .tree-flower {
    width: 100%;
    height: 100%;
    left: 10px;
    top: 0;
    position: absolute;
    z-index: 10;
    opacity: 0;
}

.contain-tree-flower:nth-child(1) {
    position: fixed;
    width: 30%;
    height: 60%;
    z-index: 9;
    top: 0px;
    left: -30%;
}
.contain-tree-flower:nth-child(2) {
    position: fixed;
    bottom: 10px;
    right: -30%;
    width: 28%;
    height: 65%;
    z-index: 8;
}

.lentern {
    position: absolute;
    z-index: 10;
    /* opacity: 1; */
    transition: 4s;
    transform: rotate(-45deg);
}
.contain-tree-flower:nth-child(1) > .lentern:nth-child(2) {
    width: 10%;
    height: 30%;
    top: -50%;
    left: -50%;
}
.contain-tree-flower:nth-child(1) > .lentern:nth-child(3) {
    width: 15%;
    height: 25%;
    top: -50%;
    left: -50%;
}
.contain-tree-flower:nth-child(1) > .lentern:nth-child(4) {
    width: 10%;
    height: 36%;
    top: -50%;
    left: -50%;
}
.contain-tree-flower:nth-child(2) > .lentern:nth-child(2) {
    width: 11%;
    height: 30%;
    top: -150%;
    left: -250%;
}
.contain-tree-flower:nth-child(2) > .lentern:nth-child(3) {
    width: 17%;
    height: 23%;
    top: -150%;
    left: -250%;
}
.contain-tree-flower:nth-child(2) > .lentern:nth-child(4) {
    width: 10%;
    height: 33%;
    top: -150%;
    left: -250%;
}


.sky {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    box-shadow: inset 0px 0px 150px rgb(0, 0, 0);
    z-index: 10;
    display: none;
}

.family {
    position: fixed;
    /* opacity: 0.1; */
    transition: 3s;
    
}
.family:nth-child(4) {
    left: 1%;
    bottom: 5px;
    width: 28%;
    /* height: 40%; */
}
.family:nth-child(5) {
    /* left: 38%; */
    right: 0px;
    bottom: 0px;
    width: 27%;
    /* height: 45.5%; */
}
@keyframes animationTopDownTextTet {
    to {
        top: -12%;
    }
}
@keyframes animationTopDownNumber2020 {
    to {
        top: -16%;
    }
}
@keyframes animationTopDownSlogan {
    to {
        top: -13%;
    }
}
.textTet {
    position: absolute;
    top: -9%;
    width: 10%;
    /* height: 32%; */
    left: 24%;
    z-index: 11;
    -webkit-animation: animationTopDownTextTet  1s linear 2.5s infinite alternate;
    -moz-animation: animationTopDownTextTet  1s linear 2.5s infinite alternate;
    /* opacity: 0; */
}
.number {
    /* text-align: center; */
    position: fixed;
    top: -8%;
    z-index: 11;
    /* opacity: 0; */
}
.number:nth-child(7) {
    left: 39%;
    -webkit-animation: animationTopDownNumber2020 1.2s ease-in-out 2.8s infinite alternate;
    -moz-animation: animationTopDownNumber2020 1.2s ease-in-out 2.8s infinite alternate;
}
.number:nth-child(8) {
    left: 44%;
    -webkit-animation: animationTopDownNumber2020 1.2s ease-in-out 3.1s infinite alternate;
    -moz-animation: animationTopDownNumber2020 1.2s ease-in-out 3.1s infinite alternate;
}
.number:nth-child(9) {
    left: 49%;
    -webkit-animation: animationTopDownNumber2020 1.2s ease-in-out 3.4s infinite alternate;
    -moz-animation: animationTopDownNumber2020 1.2s ease-in-out 3.4s infinite alternate;
}
.number:nth-child(10) {
    left: 54%;
    -webkit-animation: animationTopDownNumber2020 1.2s ease-in-out 3.7s infinite alternate;
    -moz-animation: animationTopDownNumber2020 1.2s ease-in-out 3.7s infinite alternate;
}
.slogan {
    position: fixed;
    top: -10%;
    width: 12%;
    /* height: 44%; */
    right: 24%;
    z-index: 11;
    -webkit-animation: animationTopDownSlogan 1.2s ease-in-out 3.9s infinite alternate;
    -moz-animation: animationTopDownSlogan 1.2s ease-in-out 3.9s infinite alternate;
    /* opacity: 0; */
}
/* Container chứa đồng hồ đếm ngược */
.clock {
    width: 0px;
    height: 0px;
    top: 25%;
    left: 25%;
    font-family: 'Baloo Bhai', 'Arial';
    border-style: solid;
    border-width: 1.5px;
    border-color: rgba(212, 144, 61, 0.432);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.199);
    position: fixed;
}

.clock .lan:nth-child(2) {
    width: 20%;
    height: 60%;
    position: absolute;
    top: -57%;
    left: 15%;
    transform: rotateY(180deg);
}


@media only screen and (max-width: 414px) {
    .flower:nth-child(1) {
        width: 55%;
        height: 40%;
    }
    .flower:nth-child(2) {
        width: 55%;
        height: 45%;
    }
    .contain-tree-flower:nth-child(1) {
        width: 45%;
        height: 27%;
        top: 15%;
    }
    .contain-tree-flower:nth-child(2) {
        width: 43%;
        height: 30%;
        top: 60%;
    }
    .family:nth-child(4) {
        height: 30%;
        width: 50%;
        bottom: 0px;
    }
    .family:nth-child(5) {
        height: 25%;
        width: 45%;
        left: 60%;
        bottom: 0px;
    }
    @keyframes animationTopDownTextTet {
        to {
            top: -5%;
        }
    }
    @keyframes animationTopDownNumber2020 {
        to {
            top: -11%;
        }
    }
    @keyframes animationTopDownSlogan {
        to {
            top: -9%;
        }
    }
    .textTet {
        width: 20%;
        height: 20%;
        left: 5%;
    }
    .number {
        position: fixed;
        top: -8%;
        z-index: 11;
        width: 15%;
        height: 23%;
    }
    .number:nth-child(7) {
        left: 26%;
    }
    .number:nth-child(8) {
        left: 37%;
    }
    .number:nth-child(9) {
        left: 47%;
    }
    .number:nth-child(10) {
        left: 57%;
    }
    .slogan {
        left: 70%;
        height: 20%;
        width: 22%;
    }
    .clock {
        top: 35%;
        left: 2%;
        
    }
}